* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 0.8rem;
    min-height: 100%;
}

html {
    height:100%;
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:50px 250px 170px 170px 170px 170px 50px ;
    gap: 0.5rem;
    grid-template-areas:
    "header"
    "main"
    "contenidoUno"
    "contenidoDos"
    "contenidoTres"
    "contenidoCuatro"
    "footer"
    ;
}

.header{
    grid-area: header;
    
}

.header{
    grid-area: header;
}
.header_logo {
    display: inline-block;
    height: 50px;
    width: 300px;
    background-color: whitesmoke; 
}

.header_menu{
        width: 100%;
        height: 0%;
        display:inline-block;
}
.header_menu ul{
    list-style: none;
    text-decoration: none;
    background-color: whitesmoke;
    text-align:center;
    
}

.menu> li{
    position: relative;
    display: inline-block;
}

.menu> li > a{
    color:black;
    text-decoration-color: black;
    display: block;
    padding: 15px 20px;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

.menu li a:hover{
    color: yellow;
    transition: all .3s;
}

.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
}

.submenu li a{
    display: block;
    padding: 15px;
    color:white;
    font-family:cursive;
    text-decoration: none;
    background-color: black;
}

.menu li:hover .submenu{
    visibility: visible;
}

.main{
    text-align: center;
    grid-area: main;
        border: 5px;
        margin: 10px;
        padding: 10px 10px;
    }

    h1{
        color: gold;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
    
    }
    
    h2{
        font-family: 'Permanent Marker', cursive;
        color: black;
}

.main{
    grid-area: main;
        text-align: center;
            border: 5px;
            margin: 5px;
            padding: 5px;
        }


.contenidoUno{
    grid-area: contenidoUno;
    background-color: rgb(252, 252, 74);
    text-align: center;
    
}

.contenidoDos{
    grid-area: contenidoDos;
    background-color: rgb(252, 252, 74);
    text-align: center;
    
}

.contenidoTres{
    grid-area: contenidoTres;
    background-color: rgb(252, 252, 74);
    text-align: center;
}

.contenidoCuatro{
    grid-area: contenidoCuatro;
    background-color: rgb(252, 252, 74);
    text-align: center;
}

.footer{
    grid-area: footer;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(82, 83, 68, 0.589)), url(../multimedia/gym.jpg);
    width: auto;
    font-family: sans-serif;
    color: white;
    }
    
    .footer h3{
        font-family: 'Permanent Marker', cursive;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        
    }
    
    .menu_footer{
        align-items: flex-end;
        text-align:center ;
        
    }
    
    
    .menu_footer> li{
        position: relative;
        flex-direction: column;
        padding: 5px
    }
    
    .menu_footer > li > a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        text-align: center;
    }
    
    .sociales{  
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    }
    
    
    
    .pie_final{
        background-color: black;
        width: auto;
        padding: 10px 0;
        text-align:left;
        color: white;
        font-size: 0.5rem;
    }


@media (min-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:60px 150px 300px 100px;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        " contenidoUno contenidoDos contenidoTres contenidoCuatro"
        "footer footer footer footer"
        ;
    }


.header{
    grid-area: header;
}
.header_logo {
    display: inline-block;
    height: 50px;
    width: 300px;
    background-color: whitesmoke; 
}

.header_menu{
        width: 100%;
        height: 0%;
        display:inline-block;
}
.header_menu ul{
    list-style: none;
    text-decoration: none;
    background-color: whitesmoke;
    text-align:center;
    
}

.menu> li{
    position: relative;
    display: inline-block;
}

.menu> li > a{
    color:black;
    text-decoration-color: black;
    display: block;
    padding: 15px 20px;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

.menu li a:hover{
    color: yellow;
    transition: all .3s;
}

.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
}

.submenu li a{
    display: block;
    padding: 15px;
    color:white;
    font-family:cursive;
    text-decoration: none;
    background-color: black;
}

.menu li:hover .submenu{
    visibility: visible;
}

.main{
    text-align: center;
    grid-area: main;
        border: 5px;
        margin: 10px;
        padding: 10px 10px;
    }

    h1{
        color: gold;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
    
    }
    
    h2{
        font-family: 'Permanent Marker', cursive;
        color: black;
}

.contenidoUno{
    grid-area: contenidoUno;
    margin: 5px;
    padding-top: 40px;
}

.contenidoDos{
    grid-area: contenidoDos;
    margin: 5px;
    padding-top: 40px;
}

.contenidoTres{
    grid-area: contenidoTres;
    margin: 5px;
    padding-top: 40px;
}

.contenidoCuatro{
    grid-area: contenidoCuatro;
    margin: 5px;
    padding-top: 40px;
}

.menu_footer> li{
    position: relative;
    display: inline-block;
    padding: 350px
}

}